<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label [htmlFor]="f['username']">Nutzername</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username']?.['errors']?.['required']">Der Nutzername ist erforderlich</div>
        </div>
    </div>
    <div class="form-group">
        <label [htmlFor]="f['password']">Passwort</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password']?.['errors']?.['required']">Das Passwort ist erforderlich</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" mat-raised-button color="accent">Anmelden</button>
        <a [routerLink]="['/register']" class="btn btn-primary" mat-raised-button color="accent">Registrieren</a>
    </div>
</form>